# Usage: https://direnv.net/

function log() {
    echo "$@" >&2
}

dotenv_if_exists

if has tenv ; then
    export TENV_AUTO_INSTALL=true
else
    log "Warning: tenv is not found. Please install https://github.com/tofuutils/tenv"
fi
